/* global.css */

/* Body and background styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    position: relative;
    overflow-x: hidden; 
    background-color: #f9fafb;
    min-height: 100vh;
}

body::before, body::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 500px; 
    height: 500px; 
    filter: blur(160px);
    z-index: -1;
}

body::before {
    top: -150px; 
    right: 100px; 
    background-color: #fbe2e3; 
    filter: blur(100px);
}

body::after {
    bottom: -150px; 
    left: 100px; 
    background-color: #dbd7fb; 
    filter: blur(100px);
}

/* Dark mode specifics, if needed */
body.dark {
    background-color: #1f2937;
}

body.dark::before {
    background-color: #946263; 
}

body.dark::after {
    background-color: #676394; 
}

/* Container for centralized styling */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center; 
}

.centered-text {
    text-align: center;
}

/* Heading styles */
h2, h1 {
    color: #333;
    text-align: center;
}


/* Label styles for form elements */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input styles for text, password, and email fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #00ffea;
}

/* Styles for submit and general action buttons */
input[type="submit"],
button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect for buttons */
input[type="submit"]:hover,
button:hover {
    background-color: #4cae4c;
    transform: scale(1.05);
}

button.back-button {
    background-color: #777;
}

button.back-button:hover {
    background-color: #666;
}

/* Enhanced navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

/* Link styles within navbar */
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s; 
}

/* Flex display for right-aligned navbar elements */
.navbar-right {
    display: flex;
}

/* Hover effect for links within navbar */
.navbar a:hover {
    text-decoration: none;
    color: #bbb; 
}

/*style for regex messages*/
.messages p {
    color: red; 
    border: 1px solid #ffa1a1; 
    background-color: #ffecec; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.search-bar {
    text-align: center;
    margin: 20px;
}

.search-bar input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}