{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestorHub</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body>
    {% include "navbar.html" %}

    <!-- Main content for the Welcome page -->
    <main class="Welcome">
        <div class="centered-text">
            <h1 class="welcomeTitle">InvestorHub lets you track the stock market</h1>
            <p class="welcomeSubtitle">Welcome to InvestorHub</p>
            <a href="/login" class="loginButton">Login</a>
            <a href="/register" class="signupButton">Sign Up</a>
        </div>
    </main>
</body>
</html>