{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- TODO: add functionality to save comparisons -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestorHub SavedComparisons</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body>
    {% include "navbar.html" %}

    <!-- Main content for the dashboard page -->
    <main class="main-savedcomparisons">
        <div class="centered-text">
            <h1 class="welcomeTitle">InvestorHub lets you track the stock market</h1>
            <p class="welcomeSubtitle">Here are your saved comparisons!</p>
        </div>

        
    </main>
</body>
</html>