{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestorHub Dashboard</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body>
    {% include "navbar.html" %}

    <!-- Main content for the dashboard page -->
    <main class="main-dashboard">
        <div class="centered-text">
            <h1 class="welcomeTitle">InvestorHub lets you track the stock market</h1>
            <p class="welcomeSubtitle">Search Results:</p>
            {% if searchbar %}
                <h1>You searched for: {{ searchbar }}</h1>
            <br/>
                {% for stock in stocks %}
                    {{ stock }} Record High: {{ stock.recordhigh }} Record Low: {{ stock.recordlow }}<br/>
                {% endfor %}
            {% else %}
                <div class="search-bar">
            <form class="d-flex" method="POST"
            action="{% url 'search_stocks' %}">

                {% csrf_token %}

                <input type="text" placeholder="Search stocks..." aria-label="Search stocks" name="searchbar">
                <button type="submit">Search</button> <!-- Button does nothing on click -->
            </form>
        </div>
            {% endif %}
        </div>
    </main>
</body>
</html>